<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LocalReview</title>
  <link href="../style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="Header">
    <a href="index.html" class="exists" id="Title"><b>LocalReview</b></a>
    <a href="createReview.html" class="exists" id="CreatePost">+</a>
    
  </div>
  <button onclick="upvote()" class="exists" id="Upvote">✅</button>
  <div class="exists" id="title"></div>
    <div id="content"></div>
  <a href="reviews.html" class="exists" id="BackButton">Back</a>
  
  
  <script src="../scripts/post.js"></script>
</body>

</html>
