@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
html, body {
  height: 100%;
  width: 100%;
  background-color:rgb(255,255,255);
  font-family: 'Manrope', sans-serif;
  overflow-x:hidden;
}
.exists{
 
  display:flex;
  justify-content:center;
  align-items:center;
  outline:none;
  font-family: 'Manrope', sans-serif;
  box-shadow:none;
  border:none;
  text-decoration:none;
}
#Header{
    position:absolute;
    color:rgb(248, 36, 79);
    width:100%;
    height:15%;
    left:0%;
    top:0%;
    
}
#Title{
    width:15%;
    left:0%;
    top:0%;
    height:100%;
    font-size:2vw;
    text-decoration:none;
    color:rgb(248, 36, 79);
}
#CreatePost{
    position:absolute;
    width:80px;
    height:80px;
    left:92%;
    top:20%;
    font-size:5vw;
    background:none;

    background-color:rgb(248, 36, 79);
    color:white;
    border-radius:50px;
    transition:0.3s all;
}
#CreatePost:hover{
    transform:scale(1.1);
}
#ReviewContainer{
    display:grid;
    width:90%;
    height:100%;
    position:absolute;
    left:7%;
    top:15%;
    row-gap:0px;
    column-gap:0px;
    
    grid-template-columns: 276px 276px 276px 266px;
    grid-template-rows:164px 164px 164px;
    
}
.review{
  box-shadow:0px 0px 5px black;
  background-color:white;
  width:256px;
  height:144px;
  border-radius:20px;
  padding:10px;
  font-size:1.4vw;
}
.reviewDesc{
  width:100%;
  height:80%;
  left:3%;
  top:30%;
  overflow-y:hidden;
  text-overflow: ellipsis;
}
#Pitch{
    position:absolute;
    width:100%;
    height:20%;
    left:0%;
    top:20%;
    font-size:5vw;
}
#SubPitch{
    position:absolute;
    width:100%;
    height:20%;
    left:0%;
    top:35%;
    font-size:2vw;
}
#ReviewsButton{
    position:absolute;
    width:200px;
    height:70px;
    border-radius:20px;
    left:40%;
    top:55%;
    border:3px solid rgb(248,36,79);
    background-color:rgb(248, 36, 79);
    color:white;
    font-size:2vw;
    text-decoration:none;
    transition:0.3s all;
}
#ReviewsButton:hover{
    filter:brightness(70%);
   
}
#SlideReview1{
    position:absolute;
    left:-50%;
    top:72%;
    animation-name:slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
#SlideReview2{
    position:absolute;
    left:-50%;
    top:72%;
    animation-name:slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:2s;
}
#SlideReview3{
    position:absolute;
    left:-50%;
    top:72%;
    animation-name:slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:4s;
}
#SlideReview4{
    position:absolute;
    left:-50%;
    top:72%;
    animation-name:slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:6s;
}
#SlideReview5{
    position:absolute;
    left:-50%;
    top:72%;
    animation-name:slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:8s;
}
#SlideReview6{
    position:absolute;
    left:-50%;
    top:72%;
    animation-name:slide;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:10s;
}
@keyframes slide{
    0%{left:-20%;}
    100%{left:120%;}
}
#DescImage{
    width:350px;
    height:350px;
    position:absolute;
    top:105%;
    left:60%;
}
#Desc{
    width:40%;
    position:absolute;
    left:20%;
    height:30%;
    top:120%;
    font-size:2vw;
    text-align:center;
}
#titleInput{
    width:50%;
    height:10%;
    position:absolute;
    left:25%;
    top:15%;
    font-size:2vw;
    text-align:center;
    outline:none;
    border:3px solid rgb(200,200,200);
    border-radius:30px;
    font-family: 'Manrope', sans-serif;
}
#descInput{
    width:47%;
    height:40%;
    position:absolute;
    left:25%;
    top:30%;
    font-size:2vw;
    text-align:left;
    padding:20px;
    outline:none;
    border:3px solid rgb(200,200,200);
    border-radius:30px;
    font-family: 'Manrope', sans-serif;
}
#InputButton{
    position:absolute;
    width:200px;
    height:70px;
    border-radius:20px;
    left:42%;
    top:83%;
    border:3px solid rgb(248,36,79);
    background-color:rgb(248, 36, 79);
    color:white;
    font-size:2vw;
    text-decoration:none;
    transition:0.3s all;
}
#InputButton:hover{
    filter:brightness(70%);
}
#inputInstructions{
    width:100%;
    height:10%;
    font-size:3vw;
    position:absolute;
    top:4%;
}
.red{
    color:rgb(248, 36, 79);
}


